* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

.hide {
  display: none;
}

.main-container {
  display: flex;
  height: 100%;
}

.main-container.hide {
  display: none;
}

.player-content {
  flex: 1;
}

.player-status {
  display: flex;
  align-items: center;
  gap: 10px;
}

.player-status.hide {
  display: none;
}

.card {
  width: 140px;
  height: 250px;
  display: grid;
  place-content: center;
  border: 1px solid black;
  border-radius: 10px;
  cursor: pointer;
  font-size: 38px;
}

.card:hover {
  color: white;
  background-color: black;
}

.card-container {
  display: flex;
  gap: 10px;
}
