* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.tittleContainer {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.tittleContainer h1 {
  padding: 30px;
  position: relative;
  z-index: 2;
  font-size: 500%;
  font-weight: 900;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: 300px;
  opacity: 0.2;
}
