* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header {
  background-color: white;
  border-bottom: 1px solid grey;
}

.homeLinkImage {
  width: 90px;
  padding: 10px 20px;
}

.headerText {
  text-decoration: none;
}
