* {
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.homeContainer {
  background-color: #24282f;
}

.initialContainer {
  display: block;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background-color: white;
}

.tittleContainer {
  position: relative;
  text-align: center;
  overflow: hidden;
}

.tittleContainer h1 {
  padding: 30px;
  position: relative;
  z-index: 2;
  font-size: 500%;
  font-weight: 900;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: auto;
  height: 300px;
  opacity: 0.2;
}

.charactersContainer {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 10px;
  padding: 20px;
}

.characterInfo {
  background-color: #3c3e44;
  border-radius: 10px;
  overflow: hidden;
  color: whitesmoke;
  display: flex;
  gap: 15px;
}

.imageContainer {
  vertical-align: middle;
}

.characterImage {
  width: 250px;
}

.characterData {
  width: 300px;
  height: 250px;
  line-height: 80%;
  vertical-align: middle;
}

.characterName {
  text-decoration: none;
  color: white;
}

.characterName :hover {
  text-decoration: none;
  color: #ff9800;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.characterData h3 {
  color: lightgray;
}
