<h1>Welcome to my page</h1>

<p>Please fill the following data</p>

<form method="POST" action="/user">
  <div>
    <label for="">
      Name:
      <input type="text" name="name" />
    </label>
  </div>
  <div>
    <label for="">
      Last Name:
      <input type="text" name="lastname" />
    </label>
  </div>
  <button type="submit">Submit</button>
</form>

<a href="/product/1">Product 1</a>

<img class="image" src="/public/yellow.jpg" alt="" />