*{
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.mainContainer{
  text-align: center;
}

.inputContainer{
  width: 80%;
  background-color: lightgray;
  padding: 20px 10px;
  margin: 0 auto;
}

.listContainer{
  width: 80%;
  padding: 20px 10px;
  margin: 0 auto;
  color: black
}