.characterContainer {
  background-color: #3c3e44;
  border-radius: 10px;
  margin: 0px 200px;
  padding: 20px;
  color: whitesmoke;
  text-align: center;
}

.characterImage {
  border-radius: 50%;
  text-align: center;
}

.characterInfo {
  background-color: #24282f;
  border-radius: 10px;
  padding: 20px;
}

.characterInfo h3 {
  font-size: 29px;
  font-weight: bolder;
}

.characterInfo p {
  color: lightslategray;
  font-weight: bolder;
}

.status {
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.circle {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
